__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
*.log
Submission/annotated_types/
Submission/anyio/
Submission/bin/
Submission/certifi/
Submission/colorama/
Submission/distro/
Submission/h11/
Submission/httpcore/
Submission/httpx/
Submission/idna/
Submission/jiter/
Submission/openai/
Submission/pydantic/
Submission/pydantic_core/
Submission/sniffio/
Submission/tqdm/
Submission/typing_inspection/
Submission/*-info/
Submission/__pycache__/
out.txt
out.err
.env
Submission/.env
